/* CSS Reset (optional) */
body, h1, h2, h3, p, ul, li, figure {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #c5c4c4;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

@media (max-width: 768px) {
  .grid-container {
      grid-template-areas:
          'header header header header header header'
          'main main main main main main'
          'menu menu right right right right'
          'footer footer footer footer footer footer';
  }
}

@media (max-width: 480px) {
  .grid-container {
      grid-template-areas:
          'header header header header header header'
          'main main main main main main'
          'menu menu menu right right right'
          'footer footer footer footer footer footer';
  }
}
